.header_clip{
    background-color: #0E4C9C;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
}
.bg_glass{
    background: rgba(255,255,255,0.5);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}