@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

nav a {
  position: relative;
  width: 100%;
  height: 100%;
}
nav .active::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #f6bf22;
}

nav .nav_link::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0;
  height: 4px;
  background-color: #f6bf22;
  transition: all 0.5s ease;
}

nav .nav_link:hover::before {
  width: 100%;
}
